/* Estilo geral */
body {
    font-family: 'Proza Libre', Helvetica, Arial, Lucida, sans-serif;
    background-color: #EEF0F2;
    color: ##900E2C;
    margin: 0;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/img/portao-floresta-fundo.jpeg');
    background-size: cover;
}

.container {
    text-align: center;
    max-width: 400px;
    width: 85%;
    padding: 20px;
    background-color: rgb(255, 200, 212);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-size: auto;
}

.container-campanha {
    width: calc(90% - 40px);
    max-width: 800px;
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    font-size: 2.5rem;
    color: #000000;
    margin: 10px 0;
}

h2 {
    font-size: 1.5rem;
    color: #000000;
}

h3 {
    font-size: 1.2rem;
    color: #000000;
}

section p {
    font-size: 1rem;
    color: #900E2C;
    line-height: 1.6;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.bio {
    font-family: 'Proza Libre', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

/* Botões */
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FF9BB1;
    color: #000000;
    text-decoration: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 20px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.link i {
    position: absolute;
    left: 15px;
    font-size: 1.2em;
}

.link:hover {
    background-color: #4F002F;
    transform: scale(1.05);
    color: #EEF0F2;
}

/* Botões de campanhas com largura reduzida */
.campaign-link {
    max-width: 85%;
    margin: 10px auto;
    font-size: 16px;
    padding: 12px;
}

.vagas-link {
    max-width: 60%;
    margin: 10px auto;
    font-size: 16px;
    padding: 12px;
}

/* Estilo do rodapé */
footer {
    margin-top: 20px;
    font-size: 14px;
    color: #301775;
}

/* Seção de vídeos */
.video-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.video {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.video iframe {
    width: 100%;
    height: 270px;
}

/* Seção de personagens */
.character-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.character {
    flex: 1 1 calc(50% - 20px);
    max-width: 300px;
    background-color: #ff9bb1;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; /* Adicionando overflow para garantir que o conteúdo fique dentro dos limites */
}

.character h3 {
    color: #000000;    /* Cor do texto */
    padding: 10px 20px;    /* Espaçamento interno */
    text-align: center;    /* Centraliza o texto */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    display: inline-block;    /* Mantém o tamanho do botão de acordo com o conteúdo */
    margin: 10px 0;    /* Espaçamento superior e inferior */
    text-decoration: none;    /* Remove o sublinhado */
}

.character h3 .title {
    color: #000000; /* Cor do texto */
    font-size: 1.2rem;
    background-color: #4F002F; /* Cor do fundo */
    padding: 10px 20px; /* Espaçamento interno */
    border-radius: 20px; /* Borda arredondada */
    text-align: center; /* Centraliza o texto */
    cursor: pointer; /* Indica que é clicável */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out, box-shadow 0.3s ease; /* Transição suave */
    display: inline-block; /* Mantém o tamanho do botão de acordo com o conteúdo */
    margin: 10px 0; /* Espaçamento superior e inferior */
    text-decoration: none; /* Remove o sublinhado */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6); /* Adiciona uma sombra mais pronunciada */
}

.character h3 .title:hover {
    background-color: #240115; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Efeito de ampliação */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8); /* Efeito de sombra mais intensa ao passar o mouse */
}

.character h3-link:hover {
    background-color: #240115;    /* Cor mais escura ao passar o mouse */
    transform: scale(1.05);    /* Efeito de ampliação */
}

.vacancy-container {
    display: flex;
    align-self: center;
    align-items: center;
    gap: 10px;
    /* Espaço entre o texto e o botão */
    margin-top: 10px;
    /* Espaço superior para separar do conteúdo acima */
}

.vacancy-container h2 {
    font-size: 1.5rem;
    color: #000000;
    margin: 0;
    /* Remove a margem padrão */
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366;
    color: #FFFFFF;
    width: 40px;
    /* Tamanho do botão */
    height: 40px;
    /* Tamanho do botão */
    border-radius: 50%;
    /* Círculo */
    text-decoration: none;
    /* Remove o sublinhado */
    font-size: 20px;
    /* Tamanho do ícone */
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    /* Transições suaves */
}

.whatsapp-button:hover {
    background-color: #128C7E;
    /* Cor mais escura ao passar o mouse */
    transform: scale(1.1);
    /* Aumenta ligeiramente o botão */
}

.whatsapp-button i {
    margin: 0;
    /* Remove margens adicionais ao redor do ícone */
}

.character-img {
    width: 160px;
    height: 160px;
    border-radius: 20%;
    object-fit: cover;
    margin: 0 auto 10px auto;    /* Centraliza horizontalmente e mantém a margem inferior */
    display: block;    /* Necessário para que o margin auto funcione corretamente */
}

.logos {
    width: 100%; /* Ajuste para 100% da largura do elemento pai */
    height: auto; /* Ajuste automático da altura para manter a proporção */
    max-width: 100%; /* Garante que a imagem nunca ultrapasse o tamanho do pai */
    border-radius: 20% 5% 5% 5%;
    margin-bottom: 10px;
}
.logos:hover{
    transform: scale(1.05);
}

/* Modo claro/escuro automático com prefers-color-scheme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #4F002F;
        color: #EEF0F2;
    }

    .container {
        background-color: #22102b;
        color: #EEF0F2;
    }

    .link {
        background-color:rgb(144, 14, 44);
        color: #EEF0F2;
        border-radius: 20px;
    }

    .link:hover {
        background-color: #BFACB5;
        color: #4F002F;
    }

    .character {
        background-color: #600e2a;
    }

    h1,
    h2,
    h3,
    .bio,
    .character h3,
    .character h2,
    section p {
        color: #EEF0F2;
    }

    footer {
        color: #EEF0F2;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        max-width: 300px;
        padding: 15px;
    }
    .link {
        padding: 12px;
        font-size: 16px;
    }

    .link i {
        font-size: 1em;
    }

    .campaign-link {
        max-width: 90%;
    }

    .character {
        flex: 1 1 100%;
        max-width: 90%;
    }

    .logos {
        width: 90%; /* Reduzindo a largura da imagem no mobile para melhor ajuste */
        height: auto;
    }

    .video {
        max-width: 100%;
    }

    .video-section {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 10px;
    }
}