/* Estilo geral */
body {
    font-family: 'Proza Libre', Helvetica, Arial, Lucida, sans-serif;
    background-color: #EEF0F2;
    color: #4F002F;
    margin: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
}

.container {
    text-align: center;
    max-width: 800px; /* Ajustado para a largura ideal */
    width: 85%;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

h1 {
    font-family: 'Cormorant Garamond', Georgia, 'Times New Roman', serif;
    font-size: 2.5rem; /* Ajustado */
    color: #FFFFFF;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem; /* Ajustado */
    color: #FFFFFF;
}

section p {
    font-size: 1rem;
    color: #4F002F;
    line-height: 1.6;
}

/* Seção de vídeos */
.video-section {
    display: flex;
    flex-direction: column; /* Mudado para coluna para melhor responsividade */
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.video {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.video iframe {
    width: 100%;
    height: 270px;
}

/* Seção de personagens */
.character-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.character {
    flex: 1 1 calc(50% - 20px); /* Ajustado para melhor espaçamento */
    max-width: 300px;
    background-color: #4F002F;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.character-img {
    width: 160px;
    height: 160px;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 10px;
}


/* Responsividade */
@media (max-width: 768px) {
    .character {
        flex: 1 1 100%;
        max-width: 90%; /* Ajusta a largura máxima para telas menores */
    }

    .video {
        max-width: 100%;
    }

    .video-section {
        flex-direction: column; /* Ajustado para coluna em telas menores */
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #4F002F;
        color: #EEF0F2;
        background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    }

    .container {
        background-color: #474B24;
    }

    h1, h2, section p {
        color: #EEF0F2;
    }
}
